---
import { Image } from 'astro:assets';
const { name, position, desc, email, avatarSrc } = Astro.props;
---

<div class="card">
  <div class="card__flare"></div>
  <div class="card__avatar-container">
    <Image
      src={avatarSrc}
      class="card__avatar"
      alt={`${name} Avatar`}
      width={96}
      height={96}
    />
  </div>
  <h1 class="card__name">{name}</h1>
  <p class="card__position">{position}</p>
  <p class="card__description">{desc}</p>
  <a href={`mailto:${email}`} class="card__email">{email}</a>
</div>

<style lang="scss">
  @property --rotate {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }

  .card {
    --rotate: 45deg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--gray-surface);
    border: 1px solid var(--gray-6);
    border-radius: 16px;
    box-shadow:
      0 2px 4px var(--gray-2),
      0 4px 8px var(--gray-2),
      0 8px 16px var(--gray-2);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;

    &__flare {
      position: absolute;
      inset: 0;
      z-index: -1;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: conic-gradient(
          from var(--rotate),
          transparent 0%,
          hsla(0, 0%, 100%, 0.9) 5%,
          transparent 10%
        );
        animation: rotate 10000ms linear infinite;
      }

      &::after {
        content: '';
        background: var(--gray-2);
        border-radius: 15px;
        position: absolute;
        inset: 1px;
      }
    }

    &__avatar-container {
      background: linear-gradient(to top, var(--blue-a9), var(--blue-a11));
      border-radius: 50%;
      width: 96px;
      height: 96px;
      margin-bottom: 1.25rem;
      overflow: hidden;
    }

    &__avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__name {
      color: hsl(0, 0%, 100%);
      font-size: 1.5rem;
      font-weight: var(--weight-medium);
      margin-bottom: 0.25rem;
      line-height: 1.2
    }

    &__position {
      font-size: 0.875rem;
      color: var(--gray-12);
      margin-bottom: 1rem;
      font-weight: 300
    }

    &__description {
      color: var(--gray-11);
      font-size: .875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
    }

    &__email {
      color: var(--blue-11);
      text-decoration: none;
      font-size: 0.875rem;
      transition: color 300ms ease-in-out;

      &:hover,
      &:focus {
        color: var(--blue-8);
        text-decoration: underline;
      }
    }
  }

  @keyframes rotate {
    to {
      --rotate: 360deg;
    }
  }
</style>
