---
import { Image } from 'astro:assets';
const { name, position, desc, email, avatarSrc } = Astro.props;
---

<div class="card">
  <div class="card__flare"></div>
  <div class="card__avatar-container">
    <Image
      src={avatarSrc}
      class="card__avatar"
      alt={`${name} Avatar`}
      width={96}
      height={96}
    />
  </div>
  <h1 class="card__name">{name}</h1>
  <p class="card__position">{position}</p>
  <p class="card__description">{desc}</p>
  <a href={`mailto:${email}`} class="card__email">{email}</a>
</div>

<style lang="scss">
  @property --rotate {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  .card {
    --rotate: 45deg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--gray-surface);
    border: 1px solid var(--gray-6);
    border-radius: 16px;
    box-shadow:
      0 2px 4px var(--gray-a2),
      0 4px 8px var(--gray-a1),
      0 8px 16px var(--blue-a1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;

    &__flare {
      position: absolute;
      inset: 0;
      z-index: -1;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      background: conic-gradient(
        from var(--rotate),
        transparent 0%,
        var(--blue-12) 5%,
        transparent 10%
      );
      animation: rotate 7500ms linear infinite;
    }

    &:after {
      content: '';
      background: var(--gray-2);
      border-radius: calc(16px - 1px);
      position: absolute;
      inset: 1px;
    }
  }

    &__avatar-container {
      background: linear-gradient(to top, var(--blue-a9), var(--blue-a11));
      border-radius: 50%;
      width: 96px;
      height: 96px;
      margin-bottom: 1rem;
      overflow: hidden;
    }

    &__avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__name {
      color: hsl(0,0%, 100%);
      font-size: 1.25rem;
      font-weight: var(--weight-medium);
    }

    &__position {
      font-size: .75rem;
      color: var(--gray-12);
      margin-block-end: 1rem;
    }

    &__description,
    &__email {
      font-size: 0.875rem;
    }

    &__description {
      color: var(--gray-11);
      font-size: 0.9rem;
      margin-block-end: 1rem;
    }

    &__email {
      color: var(--blue-11);
      text-decoration: none;
      transition: color 300ms ease-in-out;

      &:hover {
        color: var(--blue-8);
      }
    }
  }

  @keyframes rotate {
    to {
      --rotate: 360deg
    }
  }
</style>
